:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Elementos base*/
body{
    background:var(--preta);
    font-family: 'Arial','Times New Roman', Times, serif;
    color:white;
}

header .container{
display: flex; /*joga tudo para a linha */
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header .logo{
color: var(--vermelho);
font-family: 'Arial Black', Times;
font-size: 40px;  /*tamanho*/
}

header nav a{
  text-decoration: none; /*tirou as linhas do menu*/
  color: #AAA;
  margin-right: 10px; /*espaçamento direita*/
}

header nav a:hover{
    /*Evento de passar o mouse por cima do menu */
    color: #fff;
    }

    /*Filme Principal loki*/

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../img/loki.jpg');
    /*Tamanho da caixa*/
    height:400px;
    background-size:cover; /*deixa a img do tamanho da caixa*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;/*começa sempre da esquerda*/
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.botao{
  background-color: rgba(0, 0, 0, 0.50) ;
  border:none;
  color:white;

  padding: 15px 30px; /*lida com o espaço interno do elemento*/
  margin-right: 1px ;
  font-size: 12px;
  width: 150px;
    
  cursor: pointer; /*Muda o ponteiro quando esta no botão*/
  transition: 1s ease all; /*transicao bortão*/
}
.botoes{
    margin-top: -40px;
    display: flex;
    padding: 20px;
    width: 150px;
}

.botao:hover{
    background-color: white;
    color: black;
   
}
.botao i{
margin-right: 8px;
}

/*# WEAPPER = ENVELOPAR*/

.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;/*esta dando uma limitação*/
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes{
    margin-top: 35px;
}